.scrollspy-example {
  height: 300px !important;
  overflow-y: scroll !important;
}

.store-details {
  height: 210px;
  background-color: rgb(227, 227, 227);
  padding: 25px 50px 25px 220px;
}

.store-name {
  font-weight: 900;
  color: rgb(15, 13, 22);
}
.store-categories {
  font-size: 17px;
}
.store-location {
  color: rgb(81, 81, 216);
  font-size: 20px;
}

.menu-items {
  margin: 0 1px 0 1px;
  background-color: rgb(227, 227, 227);
}

#list-category a {
  /* font-style: oblique; */
  font-size: 20px !important;
  font-weight: 700;
  color: rgb(15, 13, 22);
}

.list-head {
  font-size: 20px !important;
  font-weight: 700;
  color: rgb(15, 13, 22);
  background-color: #fff;
}

.item div {
  font-size: 18px;
}
.shop-inventory {
  min-height: 838px !important;
}
