#loginForm {
  background-color: rgb(15, 13, 22);
  padding: 75px;
  color: #fff;
  border-radius: 16px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

.login-window {
  padding: 100px;
  text-align: center;
  height: 839px;
}

.login-window .form-group {
  text-align: left !important;
}

.login-button {
  margin: 30px;
  background-color: #fff;
  color: rgb(15, 13, 22);
  font-weight: 800;
}

.custom-checkbox {
  padding-top: 20px;
}

customCheck1 {
  margin: 2px;
}
